<!--Place your components registration for your uCommerce app in this folder.-->
<configuration>
  <components>
    <component
		id="Kaching.Extensions.SynchronizeProductToKaching"
		service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
		type="Kaching.Extensions.Pipelines.SaveProduct.SynchronizeProductToKaching, Kaching.Extensions" />

    <partial-component id="SaveProduct">
      <parameters>
        <tasks>
          <array>
            <value insert="last">${Kaching.Extensions.SynchronizeProductToKaching}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
    
    <component
        id="Kaching.Extensions.DeleteProductFromKaching"
        service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
        type="Kaching.Extensions.Pipelines.DeleteProduct.DeleteProductFromKaching, Kaching.Extensions" />

    <partial-component id="DeleteProduct">
      <parameters>
        <tasks>
          <array>
            <value insert="last">${Kaching.Extensions.DeleteProductFromKaching}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>


    <component
        id="KachingConfigurationMappings"
        service="UCommerce.EntitiesV2.IContainsNHibernateMappingsTag, UCommerce"
        type="Kaching.Extensions.Entities.NHibernateMappingsTag, Kaching.Extensions" />
        
    <component
        id="Kaching.Extensions.SynchronizeCategoryToKaching"
        service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
        type="Kaching.Extensions.Pipelines.SaveCategory.SynchronizeCategoryToKaching, Kaching.Extensions" />

    <partial-component id="SaveCategory">
      <parameters>
        <tasks>
          <array>
            <value insert="last">${Kaching.Extensions.SynchronizeCategoryToKaching}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
        
    <component
        id="Kaching.Extensions.DeleteCategoryFromKaching"
        service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Category, UCommerce]], UCommerce"
        type="Kaching.Extensions.Pipelines.DeleteCategory.DeleteCategoryFromKaching, Kaching.Extensions" />

    <partial-component id="DeleteCategory">
      <parameters>
        <tasks>
          <array>
            <value insert="last">${Kaching.Extensions.DeleteCategoryFromKaching}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
        
    <component
        id="Kaching.Extensions.MigrateDatabase"
        service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
        type="Kaching.Extensions.Pipelines.MigrateDatabase.MigrateDatabase, Kaching.Extensions" />

    <partial-component id="Initialize">
      <parameters>
        <tasks>
          <array>
            <value insert="last">${Kaching.Extensions.MigrateDatabase}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
    
    <component
        id ="Kaching.Extensions.KachingSectionProvider"
        service="UCommerce.Tree.ITreeContentProvider, UCommerce"
        type="Kaching.Extensions.FolderProviders.KachingConfigurationFolderProvider, Kaching.Extensions" />
 
    <partial-component id="TreeServiceShell">
      <parameters>
        <tasks>
          <list>
            <item insert="last">${Kaching.Extensions.KachingSectionProvider}</item>
          </list>
        </tasks>
      </parameters>
    </partial-component>

  </components>
</configuration>