<!--Place your components registration for your uCommerce app in this folder.-->
<configuration>
  <components>
    <component
					id="Kaching.Extensions.SynchronizeProductToKaching"
					service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.Product, UCommerce]], UCommerce"
					type="Kaching.Extensions.Pipelines.SaveProduct.SynchronizeProductToKaching, Kaching.Extensions" />

    <partial-component id="SaveProduct">
      <parameters>
        <tasks>
          <array>
            <value insert="last">${Kaching.Extensions.SynchronizeProductToKaching}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
  </components>
</configuration>